@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
iframe {
    align-items: center;
}

/*FONTS*/
.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: normal;
    font-style: normal;
}

/*FONTS*/
body {
    min-width: 1600px;
    font-size: 20px;
    line-height: normal;
    font-family: "Josefin Sans", sans-serif;
    color: #121212;
    background-image: url(../images/paper_bg.png);

}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #121212;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #9a0404;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #121212;
    /* creates padding around scroll thumb */
}

@keyframes up_and_down {
    0% {
        transform: translateY(25px);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(25px);
    }
}

@keyframes up_and_down_2 {
    0% {
        transform: translateY(100px);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(100px);
    }
}

@keyframes up_and_down_3 {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes text_animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}




@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #ffffff,
            0 0 40px #ffffff,
            0 0 80px #c90000,
            0 0 90px #c90000,
            0 0 100px #c90000,
            0 0 150px #c90000;

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}

/*HEADER*/
header {
    color: #eaeaea;
    background-color: #121212;
    height: 100px;
    width: 100%;
    position: relative;
    align-content: center;

}

.header_inner {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.right_header ul {
    display: flex;

}

.right_header ul li {
    padding-right: 60px;
}

.left_header ul {
    display: flex;

}

.left_header ul li {
    padding-right: 60px;
}


.icons_header {
    position: absolute;
    top: 20px;
    right: 10px;
}

.icons_header ul {
    display: flex;
    padding-right: 80px;
}

.icons_header ul li {
    padding-right: 25px;
}

.right_header ul li a:hover {
    color: #9a0404;
    text-shadow: 2px 2px 3px #9a0404;
    transition: all 0.5s;
}

.left_header ul li a:hover {
    color: #9a0404;
    text-shadow: 2px 2px 3px #9a0404;
    transition: all 0.5s;
}

.cart {
    position: relative;
}

.login {
    position: relative;
}

.icons_header ul li {
    position: relative;
}

.icons_header ul li :hover .hover {
    opacity: 1;
}

.login:hover .hover {
    opacity: 1;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.frank_banner img {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {

    right: 10px;
    padding: 30px;
    color: #3cff00 !important;
    fill: #3cff00 !important;
    stroke: #3cff00 !important;
}

/*HEAD*/
.event_head {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 450px;
}

.event_text {
    margin-top: 250px;
    text-align: center;
}

.event_text p {
    line-height: 30px;
    font-size: 24px;
}

.event_text h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #9a0404;
    animation: flicker 1.3s infinite alternate;

}

.event_text {
    display: block;
    align-content: center;
}

.event_text h4 {
    margin-top: 40px;

    text-align: center;
}

.event_text a {
    width: 150px;
    padding: 20px;
    border: 2px solid;
    border-radius: 30px 30px 30px 30px;
    transition: all 0.3s;
}

.event_text a:hover {
    color: #9a0404;
    text-shadow: 2px 2px 5px #9a0404;
}

.event_text h6 {
    color: #acaba9;
    margin-top: 15px;
}

.head {
    width: 1320px;
    margin: 0 auto;
    animation: up_and_down 3s linear infinite;


}

.head1 {
    position: absolute;
    top: -80px;
}

.head2 {
    position: absolute;
    top: -70px;

}

.head3 {
    position: absolute;
    top: -60px;

}

.head4 {
    position: absolute;
    top: -50px;

}

.head5 {
    position: absolute;
    top: -15px;

}

.event2 {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.event2 h1 {
    font-family: "UnifrakturMaguntia", cursive;
    margin-bottom: 40px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.event2 {
    width: 1520px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.kendrick {
    width: 1320px;
    margin: 0 auto;
    display: flex;

}

.k2 {
    position: relative;
    bottom: 0;
    left: -200px;
}

.k3 {
    position: relative;
    bottom: 0;
    left: -400px;
}

.text_slide {
    overflow: hidden;
}

.text_wrapper {
    display: flex;
    width: 10000px;
    animation: text_animation 50s linear infinite;
}

.text_box {
    display: flex;
    width: 5000px;
    justify-content: space-around;
}

.text_box h1 {
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 70px;
}

.happy_hour {
    width: 1520px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 250px;
    position: relative;
}

.box {
    overflow: hidden;
}

.mirrorball {
    position: absolute;
    animation: up_and_down 3s linear infinite;
    right: 0;

}

.gif_panel_bg {
    height: 700px;
    text-align: center;
    align-content: center;
    margin-bottom: 250px;
}

.gif_panel_bg h2 {
    margin-bottom: 10px;
}

.gif_panel {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.special_offer {
    text-align: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 70px;
    animation: flicker 1.3s infinite alternate;
    margin-bottom: 150px;
}

.gif1 {
    position: relative;
    top: -200px;
    height: 350px;
    box-shadow: 70px 70px 70px rgba(0, 0, 0, 0.8);

}

.gif2 {
    position: relative;
    top: -100px;
    height: 350px;
    box-shadow: 70px 70px 70px rgba(0, 0, 0, 0.8);

}

.gif3 {
    position: relative;
    top: -200px;
    height: 350px;
    box-shadow: 70px 70px 70px rgba(0, 0, 0, 0.8);


}

/*Footer*/
footer {
    background-color: #121212;
    height: 320px;
    width: 100%;
    color: #eaeaea;
    font-size: 18px;
    align-content: center;
    position: relative;

}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    align-content: center;
    z-index: 5;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.footer_inner ul {
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer_inner ul li {
    padding-right: 15px;
}

.footer_left ul li a:hover {
    font-weight: bold;
}

.footer_logo {
    position: absolute;
    left: 43%;
    bottom: 130px;
}

.footer_icons {
    align-content: center;
}

.footer_icons ul li {
    position: relative;
}

.footer_icons ul li :hover .hover {
    opacity: 1;
}

.footer_LP {
    position: absolute;
    top: -230px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 550px;
    width: 1000px;
    overflow: hidden;
}

.footer_LP img {
    animation: rotation 7s linear infinite;
    overflow: hidden;
}